PassengerAppRoot /home/u108930548/domains/gofamintrpt.org/public_html
PassengerAppType node
PassengerNodejs /opt/alt/alt-nodejs22/root/bin/node
PassengerStartupFile server.js
PassengerBaseURI /
PassengerFriendlyErrorPages on
PassengerEnv production
